section {
    font-size: 15pt;
}
h1 {
    font-size: 2em;
}
section#work-experience table {
    padding: .3em;
}
section#work-experience table thead tr th {
    background-color: #d5d5d5;
}
section#work-experience table p.description {
    font-size: 1em;
}
section#work-experience table .date {
    padding-right: .8em;
    background-color: #d5d5d5;
}