body {
    margin: 2em auto;
    width: 70%;
    font-family: 'Inconsolata', monospace;
    /*background-color: #001A56;*/
    /*color: #ffffe6;*/
}
nav ul, footer ul {
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-size: 1.2em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
a#totes-ethical {
    font-size: 0.5em;
}
h1 {
    font-size: 3em;
}
.language-python {
    font-size: 15pt;
    color: #f0f0f5;
    border: .4em solid #b3b3cc;
    background: #52527a;
    padding: 1%;
    border-top-width: 1.5em;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}