span.c {
    /* comments */
    color: #89a1c1;
}
span.k {
    /*  with, as, for, if statements */
    color:  #b48ead;
}
span.n {
    /* modules, variables */
     color: #fff;
}
span.o {
    color: #fff;
}
span.p {
    color: #fff;
}
span.kn {
    /* import statements */
    color: #b48ead;
}
span .mi,.s,.si {
    color: #ebcb8b;
}
span.nb {
    /* stdlib functions */
    color: #bbcb8b;
}
span.nn {
    color: #fff;
}
span.ow {
    /* in statement */
    color: #b48ead;
}