div.highlighter-rouge {
    font-weight: lighter;
    background-color: #dcdcdc;
    color: #f0f0f5;
}
pre.highlight {
    border-color: .4em solid #52527a;
}
div.language-python {
    font-size: 15pt;
    color: #f0f0f5;
    background: #52527a;
    border: 1px solid #000000;
    border-radius: .3em;
}
div.language-python pre.highlight {
    border: .4em solid #b3b3cc;
    margin: 0;
    padding: 2% 1%;
    border-top-width: 1.5em;
}
span.c {
    /* comments */
    color: #89a1c1;
}
span.k {
    /*  with, as, for, if statements */
    color:  #b48ead;
}
span.n {
    /* modules, variables */
     color: #fff;
}
span.o {
    color: #fff;
}
span.p {
    color: #fff;
}
span.kn {
    /* import statements */
    color: #b48ead;
}
span.mi, span.s, span.si {
    /* strings and integers */
    color: #ebcb8b;
}
span.nb {
    /* stdlib functions */
    color: #bbcb8b;
}
span.nn {
    color: #fff;
}
span.ow {
    /* in statement */
    color: #b48ead;
}