---
layout: default
title: Infosec Intern's Blog
---
<style>
    table#posts {
        padding: 0.5em;
    }
</style>
<!--<h1>Bloggy Blog</h1>
<ul class="posts">
    {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>-->
<h1>ls .\posts</h1>
<table class="posts">
    <tr>
        <th>Title</th>
        <th>CreatedTime</th>
        <th>LastModifiedTime</th>
    </tr>
    {% for post in site.posts %}
    <tr>
        <td><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></td>
        <td>{{ post.date | date_to_string }}</td>
        {% if post.modified %}
        <td>{{ post.modified | date_to_string }}</td>
        {% else %}
        <td>{{ post.date | date_to_string }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
