---
layout: default
title: Infosec Intern's Blog
---
<style>
    #posts {
        margin: 2em 0;
    }
    #posts th td {
        padding: 0.2em 2em;
    }
    #posts thead th {
        text-align: left;
    }
</style>
<h1>ls .\posts</h1>
<table id="posts">
    <thead>
        <tr>
            <th>Title</th>
            <th>CreatedTime</th>
            <th>LastModifiedTime</th>
        </tr>
    </thead>
    <tbody>
        {% for post in site.posts %}
        <tr>
            <td><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></td>
            <td>{{ post.date | date_to_string }}</td>
            {% if post.modified %}
            <td>{{ post.modified | date_to_string }}</td>
            {% else %}
            <td>{{ post.date | date_to_string }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
