<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/syntax-highlights.css">
        <script type="text/javascript" src="/javascript/cli.js"></script>
    </head>
    {% include navigation.html %}
    <body>
        <div class="container">
            {{ content }}
        </div>
    {% include footer.html %}
    </body>
</html>
